name: fork-01-build

# /!\ Make sure you don't expose any sensitive information to this workflow.
#
# This is the first (unsafe) step in 2-step process triggered on pull request.
# This workflow executes on forked repo branch and has only read-only repo token
# and no access to secrets. It rebuilds the data_output/ directory using
# potentially unsafe code from the forked repo, and passes the resulting data/
# and data_output/ directories to next stage through artifacts. The step 2 then
# commits and pushes it back to the forked branch.
#
# See:
# - https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
# - https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run
on:
  pull_request:
    branches:
      - ci-test

concurrency:
  group: cli-${{ github.workflow }}-${{ github.ref_type }}-${{ github.event.pull_request.number || github.ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -euxo pipefail {0}

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: "actions/checkout@v4"

      - name: "Rebuild datasets"
        if: github.ref != 'refs/heads/release'
        run: |
          ./scripts/rebuild --input-dir 'data/' --output-dir 'data_output/' --no-pull

      - name: "Prepare artifact"
        run: |
          mkdir -p out
          echo ${{ github.event.number }} > out/pr-number.txt
          tar --use-compress-program=zstdmt -cf "out/data.tar.zst" "data/"
          tar --use-compress-program=zstdmt -cf "out/data_output.tar.zst" "data_output/"

      - uses: "actions/upload-artifact@v4"
        with:
          name: out
          path: out/
